a {
  text-decoration: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
body {
  background: "#eee";
}
body .jumbotron {
  color: inherit;
  background-color: #eee;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
body .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
body .a_mar_top {
  margin-top: 100px;
}
body .a_right {
  float: right;
}
body .valueprops {
  color: #fff;
}
body .valuepropsheading {
  padding-top: 50px;
}
body .greenbtn {
  color: #3fb34f !important;
  text-decoration: none !important;
  padding: 6px 25px;
  border: 2px solid #3fb34f !important;
  border-radius: 10px;
  transition: color 2s,border 2s;
}
body .greenbtn:hover {
  color: #49abd9 !important;
  border: 2px solid #49abd9 !important;
}
body .blue {
  color: #49abd9 !important;
  border: 2px solid #49abd9 !important;
  display: inline-block;
  margin-bottom: 13px;
  text-decoration: none !important;
  border-radius: 10px;
  transition: color 2s,border 2s;
}
body .blue:hover {
  color: #3fb34f !important;
  border: 2px solid #3fb34f !important;
}
body .bgimage {
  padding-bottom: 36px !important;
}
@media (min-width: 992px) {
  body .bgimage.enabled-news-ticker {
    padding-bottom: 130px;
  }
}
body .countdown-bar {
  background: url(../images/countdown-bg-1920x222.jpg);
  text-align: center;
  padding: 10px 20px 5px 20px;
}
body .countdown-bar .main-text {
  color: #fff !important;
  font-weight: bold;
  font-size: 22px;
}
body .countdown-bar .timer-container div {
  display: inline-block;
  background: rgba(20, 30, 36, 0.85);
  border-radius: 10px 10px;
  padding: 8px 8px;
  color: #d7e024;
  /* width: 72px; */
  box-sizing: border-box;
}
body .countdown-bar .timer-container div .number {
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
}
body .countdown-bar .sub-text {
  margin-top: 10px !important;
  font-size: 18px;
  color: #fff !important;
  font-weight: bold;
}
body .news-ticker {
  background: #1b6bb1;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
body .news-ticker .container {
  max-width: 1175px;
  width: auto;
  padding-right: 0;
}
body .news-ticker .container a {
  color: #fff;
  font-size: 18px;
}
body .alert-success {
  margin-bottom: 0;
  border: none;
}
body .alert {
  border-radius: 0px;
}
body .item a {
  font-weight: 500;
  float: left;
}
body .item .item-type-border {
  margin-right: 40px;
}
body .item .item-type-border::before {
  content: " ";
  width: 1px;
  height: 45px;
  background: #fff;
  position: absolute;
  display: inline-block;
  top: -15px;
  margin: 0 15px;
}
body .item .learn-more {
  color: #fff;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  display: inline-block;
  max-width: 175px;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  border: solid 2px #fff;
  float: right;
  line-height: 23px;
}
body footer {
  background-color: #333;
  font-size: 12px;
  color: white;
  padding: 25px 0;
}
body footer .links li {
  display: inline-block;
}
