.lists {
  min-height: 350px;
}
.lists table tbody tr {
  cursor: pointer;
}
footer {
  background-color: #333;
  font-size: 12px;
  color: white;
  padding: 25px 0;
}
footer .links li {
  display: inline-block;
}
footer .right {
  float: right;
}
